*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
div.g-4{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
}
.g-4 > a > div{
    border-radius: 25px;
    background-color: rgba(32, 177, 170, 0.118);
    width: 100%;
    box-shadow: 0px 0px 2px 0px rgb(32, 177, 170);
}

div.g-4 >a> div > img{
    width: 100%;
    padding: 10px;
    height: 250px;
    overflow: scroll;
}
div.card > div > button{
    width: 80%;
    border: none;
    background: rgb(32, 177, 170);
}
div.card > div > button:hover{
    background: rgba(32, 177, 170, 0.558);

}
.g-4 > a{
    text-decoration: none;
}